{% extends "layouts/base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<h1>新規ドメイン追加</h1>

<form action="{% url 'system.views.create_domain' %}" method="POST">
    {% csrf_token %}
    <label for="domain">ドメイン名:</label>
    <input type="text" name="domain" class="form-control" /><br/>
    <label for="japanese">日本語:</label>
    <input type="text" name="japanese" class="form-control" /><br/>
    <label for="company">ドメイン会社:</label>
    <select name="company" class="form-control">
        {% for r in company %}
            <option value="{{ r.domain_company }}">{{ r.domain_company }}</option>
        {% endfor %}
    </select>
    <label for="update_at">更新日:</label>
    <input type="date" name="update_at" class="form-control" value="{{ next_year }}"><br/>
    <label for="update_method">自動更新</label>
    <select name="update_method" class="form-control">
        <option value="auto">自動</option>
        <option value="hand">手動</option>
    </select>
    <label for="company">サーバー:</label>
    <select name="server" id="server_comp" class="form-control" onchange="dropsort()">
        {% for r in server %}
            <option value="{{ r.server }}">{{ r.server }}</option>
        {% endfor %}
        <option value="new">新規登録</option>
    </select>
    <input type="submit" value="登録" class="btn btn-default">
</form>

 {% endblock %}