{% extends "layouts/base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<h1>新規サイト追加</h1>

<form method="POST" action="{% url 'system.views.create_site' %}">
    {% csrf_token %}
    <label for="title">サイトタイトル:</label>
    <input type="text" name="title" class="form-control" /><br/>
    <label for="url">URL:</label>
    <input type="text" name="url" class="form-control" ><br/>
    <label for="japanese">日本語:</label>
    <input type="text" name="japanese" class="form-control" ><br/>
    <label for="group">グループ:</label>
    <select name="group" class="form-control">
        {% for r in group %}
            <option value="{{ r.group }}">{{ r.group }}</option>
        {% endfor %}
    </select>
<!--     <label for="server">サーバー会社</label>
        <select name="server" class="form-control">
            {% for r in server %}
                <option value="{{ r.server_company }}">{{ r.server_company }}</option>
            {% endfor %}
        </select> -->
    <label for="update_at">作成日:</label>
    <input type="date" name="update_at" class="form-control" value="{{ day }}"><br/>
    <label for="template">テンプレート:</label>
    <select name="template" class="form-control">
        {% for r in template %}
            <option value="{{ r.templates }}">{{ r.templates }}</option>
        {% endfor %}
    </select>
    <label for="login_url">ログインURL:</label>
    <input type="text" name="login_url" class="form-control" ><br/>
    <label for="login_id">ログインID:</label>
    <input type="text" name="login_id" class="form-control" ><br/>
    <label for="login_pass">ログインパスワード:</label>
    <input type="text" name="login_pass" class="form-control" ><br/>
    <label for="remarks">備考:</label>
    <input type="text" name="remarks" class="form-control" ><br/>
    <input type="submit" value="登録" class="btn btn-default">
</form>

 {% endblock %}