{% extends "layouts/base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<h1>新規ドメイン追加</h1>

<form action="{% url 'system.views.create_domain' %}" method="POST">
    {% csrf_token %}
    <label for="domain">ドメイン名:</label>
    <input type="text" name="domain" class="form-control" /><br/>
    <label for="japanese">日本語:</label>
    <input type="text" name="japanese" class="form-control" /><br/>
    <label for="company">ドメイン会社:</label>
    <input type="text" name="company" class="form-control" ><br/>
    <label for="update_at">更新日:</label>
    <input type="date" name="update_at" class="form-control"><br/>
    <input type="submit" value="登録" class="btn btn-default">
</form>

 {% endblock %}