{% extends "layouts/base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<h1>新規サーバー追加</h1>

<form method="POST" action="{% url 'system.views.create_setting_server' %}">
    {% csrf_token %}
    <label for="server_company">サーバー会社:</label>
    <input type="text" name="server_company" class="form-control" /><br/>
    <label for="login_url">ログインURL:</label>
    <input type="text" name="login_url" class="form-control" ><br/>
    <label for="login_id">ログインID:</label>
    <input type="text" name="login_id" class="form-control" ><br/>
    <label for="login_pass">ログインパスワード:</label>
    <input type="text" name="login_pass" class="form-control" ><br/>
    <label for="nameserver1">ネームサーバー１:</label>
    <input type="text" name="nameserver1" class="form-control"><br/>
    <label for="nameserver2">ネームサーバー２:</label>
    <input type="text" name="nameserver2" class="form-control" ><br/>
    <label for="nameserver3">ネームサーバー３:</label>
    <input type="text" name="nameserver3" class="form-control" ><br/>
    <label for="nameserver4">ネームサーバー４:</label>
    <input type="text" name="nameserver4" class="form-control" ><br/>
    <label for="nameserver5">ネームサーバー５:</label>
    <input type="text" name="nameserver5" class="form-control" ><br/>
    <input type="submit" value="追加" class="btn btn-default">
</form>

 {% endblock %}