{% extends "layouts/base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<h1>新規サーバー追加</h1>

<form method="POST" action="{% url 'system.views.setting_server' %}">
    {% csrf_token %}
    <label for="server_company">サーバー会社:</label>
    <input type="text" name="title" class="form-control" /><br/>
    <label for="login_url">ログインURL:</label>
    <input type="text" name="url" class="form-control" ><br/>
    <label for="login_id">ログインid:</label>
    <input type="text" name="id" class="form-control" ><br/>
    <label for="login_pass">ログインパスワード:</label>
    <input type="text" name="pass" class="form-control" ><br/>
    <label for="nameserver1">ネームサーバー１:</label>
    <input type="text" name="1" class="form-control"><br/>
    <label for="nameserver2">ネームサーバー２:</label>
    <input type="text" name="2" class="form-control" ><br/>
    <label for="nameserver3">ネームサーバー３:</label>
    <input type="text" name="3" class="form-control" ><br/>
    <label for="nameserver4">ネームサーバー４:</label>
    <input type="text" name="4" class="form-control" ><br/>
    <label for="nameserver5">ネームサーバー５:</label>
    <input type="text" name="5" class="form-control" ><br/>
    <input type="submit" value="追加" class="btn btn-default">
</form>

 {% endblock %}