{% extends "layouts/base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<h1>新規ドメイン追加</h1>

<form method="POST" action="{% url 'system.views.setting_domain' %}">
    {% csrf_token %}
    <label for="company">ドメイン会社:</label>
    <input type="text" name="title" class="form-control" /><br/>
    <label for="url">ログインURL:</label>
    <input type="text" name="url" class="form-control" ><br/>
    <label for="id">ログインid:</label>
    <input type="text" name="id" class="form-control" ><br/>
    <label for="pass">ログインパスワード:</label>
    <input type="text" name="pass" class="form-control" ><br/>
    <input type="submit" value="追加" class="btn btn-default">
</form>

 {% endblock %}