{% extends "layouts/base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<h1>新規リンク追加</h1>

<form action="{% url 'system.views.create_link' %}" method="POST">
    {% csrf_token %}
    <label for="site_title">サイトタイトル:</label>
    <select name="site_title" class="form-control">
        {% for link in site %}
            {% if link == me.title %}
                <option value="{{ link }}" selected>{{ link }}</option>
            {% else %}
                <option value="{{ link }}">{{ link }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <label for="url">URL:</label>
    <input type="text" name="url" class="form-control" value="{{ me.url }}"><br/>
    <label for="send_day">リンクを送った日:</label>
    <input type="date" name="send_day" class="form-control" value="{{ day }}"><br/>
    <label for="server">サーバー:</label>
    <input type="text" name="server" class="form-control"><br/>
    <label for="link_url">リンク先URL:</label>
    <select name="link_url" class="form-control" onchange="get_site('url')">
        {% for link in url %}
                <option value="{{ link.site }}" id="{{ link.num }}">{{ link.site }}</option>
        {% endfor %}
    </select>
    <label for="link_site">リンク先サイト名:</label>
    <input type="text" name="link_site" value="{{ site.0 }}" class="form-control">
    <label for="link_pos">リンク位置:</label>
    <select name="link_pos" class="form-control">
        {% for row in position %}
            <option value="{{ row.link }}">{{ row.link }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="登録" class="btn btn-default">
</form>

 {% endblock %}