{% extends "layouts/base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<h1>新規サーバー追加</h1>

<form action="{% url 'system.views.create_server' %}" method="POST" >
    {% csrf_token %}
    <label for="company">サーバー会社:</label>
    <select name="company" id="server_comp" class="form-control" onchange="dropsort()">
        {% for r in server %}
            <option value="{{ r.server_company }}">{{ r.server_company }}</option>
        {% endfor %}
        <option value="new">新規登録</option>
    </select>
    <label for="login_id">ログインURL</label>
    <input type="text" name="login_url" class="form-control"><br/>
    <label for="login_id">ログインID</label>
    <input type="text" name="login_id" class="form-control"><br/>
    <label for="login_id">ログインパスワード</label>
    <input type="text" name="login_pass" class="form-control"><br/>
    <label for="host">FTPサーバー(ホスト名)</label>
    <input type="text" name="host" class="form-control" ><br/>
    <label for="account">ユーザー名(アカウント名):</label>
    <input type="text" name="account" class="form-control" ><br/>
    <label for="ftp_pass">FTPパスワード:</label>
    <input type="text" name="ftp_pass" class="form-control" ><br/>
    <label for="db_pass">データベースパスワード:</label>
    <input type="text" name="db_pass" class="form-control" ><br/>
    <label for="update_at">更新日:</label>
    <input type="date" name="update_at" class="form-control" value="{{ next_year }}"><br/>
    <label for="pay">支払い方法:</label>
    <select name="pay" class="form-control">
        {% for r in pay %}
            <option value="{{ r.payment }}">{{ r.payment }}</option>
        {% endfor %}
    </select>
    <label for="remark">備考:</label>
    <textarea name="remark" class="form-control"></textarea>
    <input type="submit" value="登録" class="btn btn-default">
</form>

 {% endblock %}
