{% extends "layouts/base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<h1>{{ data.domain }}</h1><br/>

<div class="col-md-6">
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>URL</th>
        <th>タイトル</th>
        <th>代表サイト</th>
    </tr>
    {% for detail in data.detail %}
    <tr>
        <td>{{ detail.url }}</td>
        <td>{{ detail.title }}</td>
        {% if detail.is_represetative == 1 %}
            <td>{{ detail.is_represetative }}</td>
        {% else %}
            <form action="{% url 'system.views.domain_detail' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="domain_id" value="{{ detail.domain_id }}">
                <input type="hidden" name="id" value="{{ detail.id }}" />
                <td><input class="btn btn-default" type="submit" value="変更"/></td>
            </form>
        {% endif %}
    </tr>
    {% endfor %}
</table>
</div>

<div class="col-md-5 col-md-offset-1">
<h2>更新日</h2><br/>
<p>{{ data.updated_at }}</p>
<h2>ドメイン会社</h2><br/>
<p>{{ data.company }}</p>
</div>
 {% endblock %}