{% extends "layouts/base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<h1>更新しないドメイン</h1>

<form method="POST" action="">
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th style="width:30px;"><input type="checkbox" name="domain" value="all"/></th>
        <th>ドメイン名</th>
        <th>日本語</th>
        <th>更新日<span class="glyphicon glyphicon-triangle-bottom" style="display:;"></span><span class="glyphicon glyphicon-triangle-top" style="display:none;"></span></th>
        <th>ドメイン会社</th>
        <th>代表サイト</th>
        <th>更新</th>
    </tr>
    {% for raw in data %}
    <tr>
        <td><input type="checkbox" name="domain" value=""></td>
        <td>{{ raw.domain }}</td>
        <td>{{ raw.japanese }}</td>
        <td>{{ raw.updated_at }}</td>
        <td>{{ raw.company }}</td>
        <td>eeeee</td>
        <td>
            <a href="" class="btn-warning btn-xs">更新する</a><br/>
            <a href="" class="btn-info btn-xs">削除</a>
        </td>
    </tr>
    {% endfor %}
</table>
<input class="pull-right" type="submit" value="削除">
</form>
 {% endblock %}