{% extends "layouts/base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
{% if data.domain == data.japanese %}
    <h1>{{ data.domain }}</h1><br/>
{% else %}
    <h1>{{ data.domain }} / {{data.japanese}}</h1><br/>
{% endif %}

<div class="col-md-6">
<table class="table table-bordered table-hover" style="background-color: white" border="1">
    <tr>
        <th width="200px">URL</th>
        <th width="300px">タイトル</th>
        <th>代表サイト</th>
    </tr>
    {% for detail in data.detail %}
    <tr>
        <td width="200" style="word-break: break-all;"><a href="/django.cgi/site/detail?site_id={{ detail.site_id }}&server_id={{ detail.server_id }}">{{ detail.url }}</a></td>
        <td width="300" style="word-break: break-all;">{{ detail.title }}</td>
        {% if detail.is_represetative == 1 %}
            <td>✔︎</td>
        {% else %}
            <form action="{% url 'system.views.domain_detail' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="domain_id" value="{{ detail.domain_id }}">
                <input type="hidden" name="id" value="{{ detail.id }}" />
                <td><input class="btn btn-default" type="submit" value="変更"/></td>
            </form>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<a class="btn btn-default" href="{% url 'system.views.create_site' %}?domain_id={{ id }}">サイト追加</a>
</div>

<div class="col-md-5 col-md-offset-1">
<h2>更新日</h2><br/>
<p>{{ data.updated_at }}</p>
<h2>ドメイン会社</h2><br/>
<p><a href="{{ data.company_url }}">{{ data.company }}</a></p>
<h2>サーバー</h2><br/>
<p>{{ data.server }}</p>
<a class="btn btn-default" href="{% url 'system.views.updomain' %}?domain_id={{ id }}&server={{ data.server }}">編集</a>
</div>
 {% endblock %}
