{% extends "layouts/base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<h1>更新しないドメイン</h1>

<table class="table table-striped table-bordered table-hover">
    <tr>
        <th style="width:30px;"><input type="checkbox" name="domain" id="all" value="all"/></th>
        <th>ドメイン名</th>
        <th>日本語</th>
        <th>更新日
            {% if reverse == False %}
            <a href="/django.cgi/domain/unupdate?reverse=True">
                <span class="glyphicon glyphicon-triangle-bottom" style="display:;"></span>
            </a>
            {% else %}
            <a href="/django,cgi/domain/unupdate?reverse=False">
                <span class="glyphicon glyphicon-triangle-top" style="display:;"></span>
            </a>
            {% endif %}
        </th>
        <th>ドメイン会社</th>
        <th>代表サイト</th>
        <th>更新</th>
    </tr>
    {% for raw in data %}
    <tr>
        <td><input type="checkbox" name="record" value="{{ raw.id }}"></td>
        <td>{{ raw.domain }}</td>
        <td>{{ raw.japanese }}</td>
        <td>{{ raw.updated_at }}</td>
        <td>{{ raw.company }}</td>
        <td>eeeee</td>
        <td>
            <a href="/domain/update?domain_id={{ raw.id }}" class="btn-warning btn-xs">更新する</a><br/>
            <form method="POST" action="{% url 'system.views.delete' %}">
                {% csrf_token %}
                <input type="hidden" name="kind" value="domain"/>
                <input type="hidden" name="id" value="{{ raw.id }}"/>
                <button class="btn-info btn-xs">削除</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<button class="btn btn-default pull-right" onclick="delete_data('domain')">削除</button>
 {% endblock %}