{% extends "layouts/base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<h1>ドメイン管理</h1>
<form action="{% url 'system.views.domain' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="search"/>
    <input type="submit" value="検索"/>
</form>
<a class="btn btn-default pull-right" href="{% url 'system.views.create_domain' %}">新規ドメイン追加</a><br/><br/>

<table class="table table-hover" style="background-color: white">
    <tr>
        <th>ドメイン名</th>
        <th>日本語</th>
        <th>更新日
            {% if reverse == False %}
            <a href="/django.cgi/domain?search_index={{ search_index }}&reverse=True">
                <span class="glyphicon glyphicon-triangle-bottom" style="display:;"></span>
            </a>
            {% else %}
            <a href="/django.cgi/domain?search_index={{ search_index }}&reverse=False">
                <span class="glyphicon glyphicon-triangle-top" style="display:;"></span>
            </a>
            {% endif %}
        </th>
        <th>ドメイン会社</th>
        <th>代表サイト</th>
        <th>更新</th>
    </tr>
    {% for raw in data %}
    <tr>
        <td><a href="{% url 'system.views.domain_detail' %}?domain_id={{raw.id}}">{{ raw.domain }}</a></td>
        <td>{{ raw.japanese }}</td>
        <td>{{ raw.updated_at }}</td>
        <td><a href="http://{{ raw.company }}">{{ raw.company }}</a></td>
        {% if raw.representative != 'not selected' %}
            <td><a href="{% url 'system.views.site_detail' %}?site_id={{ raw.site_id }}">{{ raw.representative }}</a></td>
        {% else %}
            <td>{{ raw.representative }}</td>
        {% endif %}
        <td>
            <a href="{% url 'system.views.update_domain' %}?domain_id={{ raw.id }}" class="btn-warning btn-xs">更新する</a><br/>
            <form method="POST" action="{% url 'system.views.domain_unup' %}">
                {% csrf_token %}
                <input type="hidden" name="kind" value="domain"/>
                <input type="hidden" name="id" value="{{ raw.id }}"/>
                <button class="btn-info btn-xs">更新しない</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
 {% endblock %}