{% extends "layouts/base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<h1>リンク</h1>

<div class="col-md-5">
    <table class="table table-bordered table-hover">
        <tr>
            <th>日付</th>
            <th>URL</th>
            <th>サテライトサイト</th>
            {% for r in check %}
                <th>{{ r }}</th>
            {% endfor %}
        </tr>
        {% for raw in data %}
        <tr class="{{ raw.color }}">
            <td>{{ raw.date }}</td>
            <td>{{ raw.url }}</td>
            <td>{{ raw.title }}</td>
            {% for r in check %}
                {% if raw.position == r %}
                    <td>🔴</td>
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

<div class="col-md-5 col-md-offset-2">
    <table class="table table-bordered table-hover">
        <tr>
            <th>日付</th>
            <th>URL</th>
            <th>サイト</th>
            {% for r in children_check %}
                <th>{{ r }}</th>
            {% endfor %}
        </tr>
        {% for raw in data %}
        <tr class="{{ raw.color }}">
            <td>{{ raw.date }}</td>
            <td>{{ raw.url }}</td>
            <td>{{ raw.title }}</td>
            {% for r in children_check %}
                {% if raw.position == r %}
                    <td>🔴</td>
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
 {% endblock %}