{% extends "layouts/base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<h1>リンク</h1>

<a href="{% url 'system.views.create_link' %}?site_id={{ site_id }}" class="btn btn-default">リンクを貰う</a>

<div class="col-md-12 col-md-offset-">
    <table class="table table-bordered table-hover">
        <tr>
          <th>タイトル</th>
          <td>{{ site.site_title }}</td>
        </tr>
        <tr>
          <th>URL</th>
          <td>{{ site.url }}</td>
        </tr>
        <tr>
          <th>サーバー</th>
          <td>{{ site.server }}</td>
        </tr>
        <tr>
          <th>作成日</th>
          <td>{{ site.updated_date }}</td>
        </tr>
    </table>
</div>

<div style="width: 2000px;">
    <table class="table table-bordered table-hover" style="float:left; width:1000px;">
        <tr>
            <th width="200" style="word-break: break-all;">日付</th>
            <th width="200" style="word-break: break-all;">URL</th>
            <th width="200" style="word-break: break-all;">サーバー</th>
            <th width="200" style="word-break: break-all;">アンカーテキスト</th>
            <th width="200" style="word-break: break-all;">サテライトサイト</th>
            <th width="200" style="word-break: break-all;">リンク位置</th>
            <th></th>
        </tr>
        {% for raw in data %}
        <tr style="background-color:{{ raw.color }}">
            <td width="200" style="word-break: break-all;">{{ raw.date }}</td>
            <td width="200" style="word-break: break-all;">{{ raw.url }}</td>
            <td width="200" style="word-break: break-all;">{{ raw.server }}</td>
            <td width="200" style="word-break: break-all;">{{ raw.anchr }}</td>
            <td width="200" style="word-break: break-all;">{{ raw.title }}</td>
            <td width="200" style="word-break: break-all;">{{ raw.position }}</td>
            <td>
              <a class="btn btn-danger" href="{% url 'system.views.delete_link' %}?link_id={{raw.id}}&site_id={{ site_id }}">削除</a>
              <a class="btn btn-warning" href="{% url 'system.views.edit_link' %}?link_id={{raw.id}}&site_id={{ site_id }}">編集</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <table class="table table-bordered table-hover" style="width:1000px;">
        <tr>
            <th width="200" style="word-break: break-all;">日付</th>
            <th width="200" style="word-break: break-all;">URL</th>
            <th width="400" style="word-break: break-all;">サーバー</th>
            <th width="200" style="word-break: break-all;">アンカーテキスト</th>
            <th width="200" style="word-break: break-all;">サイト</th>
            <th width="200" style="word-break: break-all;">リンク位置</th>
            <th></th>
        </tr>
        {% for raw in children %}
        <tr style="background-color:{{ raw.color }}">
            <td width="200" style="word-break: break-all;">{{ raw.date }}</td>
            <td width="200" style="word-break: break-all;">{{ raw.url }}</td>
            <td width="400" style="word-break: break-all;">{{ raw.server }}</td>
            <td width="200" style="word-break: break-all;">{{ raw.anchr }}</td>
            <td width="200" style="word-break: break-all;">{{ raw.title }}</td>
            <th width="200" style="word-break: break-all;">{{ raw.position }}</th>
            <td>
              <a class="btn btn-danger" href="{% url 'system.views.delete_link' %}?link_id={{raw.id}}&site_id={{ site_id }}">削除</a>
              <a class="btn btn-warning" href="{% url 'system.views.edit_link' %}?link_id={{raw.id}}&site_id={{ site_id }}">編集</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
 {% endblock %}
