{% extends "layouts/base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<h1>登録ワード</h1>

<a class="btn btn-default" href="{% url 'system.views.create_keyword' %}?site_id={{ site_id }}">新規キーワード追加</a></br>
<table class="table table-bordered table-hover">
    <tr>
        <th>キーワード</th>
        <th>登録日時</th>
    </tr>
    {% for r in data %}
        <tr>
            <td>{{ r.keyword }}</td>
            <td>{{ r.created_date }}</td>
        </tr>
    {% endfor %}
</table>

<a href="{% url 'system.views.site_detail' %}?site_id={{ site_id }}" class="btn btn-default">戻る</a>
 {% endblock %}