{% extends "layouts/base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<h1>サーバー管理</h1>

<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>サーバー会社
        <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">全表示
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>aaaaa</li>
                <li>bbbbb</li>
            </ul>
        </div>
        </th>
        <th>更新日</th>
        <th>ホスト名</th>
        <th>更新</th>
    </tr>
    <tr>
        <td>aaaaa</td>
        <td>bbbbb</td>
        <td>ccccc</td>
        <td>ddddd</td>
    </tr>
</table>
 {% endblock %}