{% extends "layouts/base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<h1>更新しないサーバー</h1>

<form method="POST" action="">
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th style="width:30px;"><input type="checkbox" name="server" id="all" value="all"/></th>
        <th style="width:200px;">サーバー会社
        <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">全表示
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>aaaaa</li>
                <li>bbbbb</li>
            </ul>
        </div>
        </th>
        <th>更新日</th>
        <th>ホスト名</th>
        <th>更新</th>
    </tr>
    {% for raw in data %}
    <tr>
        <td><input type="checkbox" name="server" value=""></td>
        <td>{{ raw.company }}</td>
        <td>{{ raw.updated_at }}</td>
        <td>{{ raw.host }}</td>
        <td>
            <a href="" class="btn-warning btn-xs">更新する</a><br/>
            <a href="" class="btn-info btn-xs">削除</a>
        </td>
    </tr>
    {% endfor %}
    </tr>
</table>
<input class="pull-right" type="submit" value="削除">
</form>
<script>
	$('#all').on('change',function(){
		$('input[name=server]').prop('checked', this.checked);
	})
</script>
{% endblock %}
