{% extends "layouts/base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<h1>サーバー管理</h1>

<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>サーバー会社
        <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">全表示
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>aaaaa</li>
                <li>bbbbb</li>
            </ul>
        </div>
        </th>
        <th>更新日</th>
        <th>ホスト名</th>
        <th>更新</th>
    </tr>
    {% for raw in data %}
    <tr>
        <td><a href="/server/detail?server_id={{ raw.id }}">{{ raw.company }}</a></td>
        <td>{{ raw.updated_at }}</td>
        <td>{{ raw.host }}</td>
        <td>
            <a href="/server/update?server_id={{ raw.id }}" class="btn-warning btn-xs">更新する</a><br/>
            <a href="" class="btn-info btn-xs">更新しない</a>
        </td>
    </tr>
    {% endfor %}
</table>
<br/>
<a class="btn btn-default pull-right" href="{% url 'system.views.create_server' %}">追加</a>
 {% endblock %}