{% extends "layouts/base.html" %}

{% block title %} Home {% endblock %}
{% block content %}

<h1>グループ一覧</h1>

<form action="{% url 'system.views.setting_group' %}" method="POST" >
	{% csrf_token %}

<a class="btn btn-default pull-right" href="{% url 'system.views.create_setting_group' %}">新規グループ追加</a><br/><br/>	

<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>グループ名</th>
        <th></th>
    </tr>
    {% for name in group %}
    <tr>
        <td>{{ name.group }}</td>
        <td><a class="btn btn-warning" href="{% url 'system.views.group_edit' %}?group_id={{ name.id }}">編集</a>
        <form method="POST" action="{% url 'system.views.delete_setting' %}">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ name.id }}"/>
            <input type="hidden" name="kind" value="set_group"/>
            <input type="submit" value="削除" class="btn btn-danger">
        </form>
        </td>
    </tr>
    {% endfor %}

</table>
{% endblock %}

