{% extends "layouts/base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<h1>設定</h1>
<br/>
<ul class="list-group">
    <li class="list-group-item"><a href="">テンプレート一覧を追加・編集</a></li>
    <li class="list-group-item"><a href="">リンク位置一覧を追加編集</a></li>
    <li class="list-group-item"><a href="">グループ一覧を追加・編集</a></li>
    <li class="list-group-item"><a href="">支払い方法一覧を追加・編集</a></li>
    <li class="list-group-item"><a href="">ドメイン会社一覧を追加・編集</a></li>
    <li class="list-group-item"><a href="">サーバー会社一覧を追加・編集</a></li>
</ul>

 {% endblock %}