{% extends "layouts/base.html" %}
{% block title %} Home {% endblock %}
{% block content %}

<h1>リンク一覧</h1>

<a class="btn btn-default pull-right" href="{% url 'system.views.create_setting_link' %}">新規追加</a><br/><br/>	

<table class="table table-striped table-bordered table-hover">

	<tr>
        <th>リンク名</th>
        <th></th>
    </tr>
    {% for name in link %}
    <tr>
        <td>{{ name.link }}</td>
        <td><a class="btn btn-warning" href="{% url 'system.views.setting_link_edit' %}?link_id={{ name.id }}">編集</a>
            <a class="btn btn-danger" d="setting_{{ name.id }}" onclick="delete_confirm('setting_{{name.id}}')" href="{% url 'system.views.delete_setting' %}?id={{ name.id }}&kind=link">削除</a>
    </tr>
    {% endfor %}


</table>
 {% endblock %}