{% extends "layouts/base.html" %}
{% block title %} Home {% endblock %}
{% block content %}

<h1>サーバー会社一覧</h1>

<a class="btn btn-default pull-right" href="{% url 'system.views.create_setting_server' %}">新規追加</a><br/><br/>	

<table class="table table-striped table-bordered table-hover" style="width: 1300px; padding-left: 0px; margin-left: 0px;">
        <tr>
                <th>サーバー会社</th>
                <th>ログインURL</th>
                <th>ログインid</th>
                <th>ログインパスワード</th>
                <th>ネームサーバー１</th>
                <th>ネームサーバー２</th>
                <th>ネームサーバー３</th>
                <th>ネームサーバー４</th>
                <th>ネームサーバー５</th>
                <th>編集</th>
        </tr>
        <tr>
        {% for r in data %}
                <td>{{ r.server_company }}</td>
                <td>{{ r.login_url }}</td>
                <td>{{ r.login_id }}</td>
                <td>{{ r.login_pass }}</td>
                <td>{{ r.nameserver1 }}</td>
                <td>{{ r.nameserver2 }}</td>
                <td>{{ r.nameserver3 }}</td>
                <td>{{ r.nameserver4 }}</td>
                <td>{{ r.nameserver5 }}</td>
                <td><a class="btn btn-warning" href="{% url 'system.views.setting_server_edit' %}?server_id={{ r.id }}">編集</a>
        <form method="POST" action="{% url 'system.views.delete_setting' %}">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ r.id }}"/>
                <input type="hidden" name="kind" value="set_server"/>
                <input type="submit" value="削除" class="btn btn-danger">
            </form></td>
        </tr>
        {% endfor %}
</table>
 {% endblock %}