{% extends "layouts/base.html" %}
{% block title %} Home {% endblock %}
{% block content %}

<h1>支払い方法一覧</h1>

<form action="{% url 'system.views.setting_payment' %}" method="POST" >
	{% csrf_token %}

<a class="btn btn-default pull-right" href="{% url 'system.views.create_setting_payment' %}">新規追加</a><br/><br/>	

<table class="table table-striped table-bordered table-hover">

	<tr>
        <th>支払い方法</th>
        <th></th>
    </tr>
    {% for name in payment %}
    <tr>
        <td>{{ name.payment }}</td>
        <td><a class="btn btn-warning" href="{% url 'system.views.payment_edit' %}?payment_id={{ name.id }}">編集</a>
            <a class="btn btn-danger" href="{% url 'system.views.delete_setting' %}?id={{ name.id }}&kind=payment">削除</a>
        </td>
    </tr>
    {% endfor %}


</table>
 {% endblock %}