{% extends "layouts/base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<h1>設定</h1>
<br/>
<ul class="list-group">
    <li class="list-group-item"><a href="setting/templates">テンプレート一覧を追加・編集</a></li>
    <li class="list-group-item"><a href="setting/link">リンク位置一覧を追加編集</a></li>
    <li class="list-group-item"><a href="setting/group">グループ一覧を追加・編集</a></li>
    <li class="list-group-item"><a href="setting/payment">支払い方法一覧を追加・編集</a></li>
    <li class="list-group-item"><a href="setting/domain">ドメイン会社一覧を追加・編集</a></li>
    <li class="list-group-item"><a href="setting/server">サーバー会社一覧を追加・編集</a></li>
</ul>

 {% endblock %}