{% extends "layouts/base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<h1>サイト管理</h1>
<form action="{% url 'system.views.site' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="search"/>
    <input type="submit" value="検索"/>
</form>
<a class="btn btn-default pull-right" href="{% url 'system.views.create_site' %}">登録</a><br/><br/>

<table class="table table-bordered table-hover" style="background-color: white">
    <tr>
        <th>グループ
        <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">全表示
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'system.views.site' %}?search=">全表示</a></li>
                {% for raw in group %}
                    <li><a href="{% url 'system.views.site' %}?search={{ raw }}">{{ raw }}</a></li>
                {% endfor %}
            </ul>
        </div>
        </th>
        <th>サイトタイトル</th>
        <th>URL</th>
        <th>日本語</th>
        <th>サーバー</th>
    </tr>
    {% for raw in data %}
    <tr>
        <td>{{ raw.group }}</td>
        <td><a href="{% url 'system.views.site_detail' %}?site_id={{ raw.id }}">{{ raw.title }}</a></td>
        <td><a href="{{ raw.url }}">{{ raw.url }}</a></td>
        <td>{{ raw.japanese }}</td>
        {% if raw.server_id == -1 %}
            <td>{{ raw.server }}</td>
        {% else %}
            <td><a href="/server/detail?server_id={{ raw.server_id }}">{{ raw.server }}</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
 {% endblock %}