{% extends "layouts/base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<h1>{{ data.title }}</h1>

<form method="POST" action="{% url 'system.views.site_edit' %}">
    {% csrf_token %}
    <input type="hidden" name="site_id" value="{{data.site_id}}">
    <input type="hidden" name="server_id" value="{{server_id}}">
    <label for="url">URL:</label>
    <input type="text" name="url" class="form-control" value="{{data.url}}" ><br/>
    <label for="group">グループ</label>
    <select name="group" class="form-control">
        {% for row in group %}
            {% if row.group == data.group_name %}
                <option value="{{row.group}}" selected>{{row.group}}</option>
            {% else %}
                <option value="{{row.group}}">{{row.group}}</option>
            {% endif %}
        {% endfor %}
    </select>
    <label for="japanese">日本語:</label>
    <input type="text" name="japanese" class="form-control" value="{{data.japanese}}" ><br/>
    <label for="server">サーバー:</label>
    <select name="server" class="form-control">
        {% for row in server %}
            {% if row.server_company == data.server %}
                <option value="{{row.server_company}}" selected>{{row.server_company}}</option>
            {% else %}
                <option value="{{row.server_company}}">{{row.server_company}}</option>
            {% endif %}
        {% endfor %}
    </select>
    <label for="update_at">作成日:</label>
    <input type="date" name="update_at" class="form-control" value="{{data.updated_date}}"><br/>
    <label for="template">テンプレート:</label>
    <select name="template" class="form-control">
        {% for row in template %}
            {% if row.templates == data.template %}
                <option value="{{ row.templates }}" selected="">{{ row.templates }}</option>
            {% else %}
                <option value="{{ row.templates }}">{{ row.templates }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <label for="login_url">ログインURL:</label>
    <input type="text" name="login_url" class="form-control" value="{{data.login_url}}" ><br/>
    <label for="login_id">ログインID:</label>
    <input type="text" name="login_id" class="form-control" value="{{ data.login_id }}" ><br/>
    <label for="login_pass">ログインパスワード:</label>
    <input type="text" name="login_pass" class="form-control" value="{{ data.login_pass }}" ><br/>
    <label for="remarks">備考:</label>
    <textarea name="remarks" id="remarks" cols="7" rows="10" class="form-control">{{ data.remarks }}</textarea>
    <input type="submit" value="登録" class="btn btn-default">
</form>

 {% endblock %}
