{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% if request.get_full_path == "/django.cgi/domain" %}
      <title>ドメイン管理｜サイト管理システム</title>
    {% elif request.get_full_path == "/django.cgi/server" %}
      <title>サーバー管理｜サイト管理システム</title>
    {% elif request.get_full_path == "/django.cgi/site" %}
      <title>サイト管理｜サイト管理システム</title>
    {% elif request.get_full_path == "/django.cgi/domain/unupdate" %}
      <title>更新しないドメイン管理｜サイト管理システム</title>
    {% elif request.get_full_path == "/django.cgi/server/unupdate" %}
      <title>更新しないサーバー管理｜サイト管理システム</title>
    {% else %}
      <title>サイト管理システム</title>
    {% endif %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="{% static 'asset/css/bootstrap.min.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'asset/css/bootstrap-theme.min.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/chat.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/login.css' %}"/>
</head>
{% if method == 'site' %}
    <body style="background-color: #FFF7FA">
{% elif method == 'domain' %}
    <body style="background: #E9FFFC;">
{% elif method == 'server' %}
    <body style="background: #FFFFDF;">
{% else %}
    <body>
{% endif %}
    <div id="header">
        {% include "layouts/_header.html" %}
    </div>
    <div id="main" class="container">
        {% block content %}
            {{ content }}
        {% endblock %}
    </div>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{% static 'asset/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>
    <script src="{% static 'asset/js/d3.min.js' %}"></script>
    <script src="{% static 'js/graphic.js' %}"></script>
</body>
</html>
